<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">    
      <a class="navbar-brand" href="{% url 'home' %}"><h1>Bookstore</h1></a>
    </div>
    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav">
        <li{% if request.path == '/books/' %} class="active"{% endif %}>
          <a href="{% url 'book_list' %}"><h1>Books</h1></a>
        </li>
        <li><a href="https://www.hogi.org"><h1>Hogi</h1></a></li>
        <li></li>
      </ul>
    </div>
  </div>
</nav>

